<% for article in @all %>
  <article>
  <header>
  <h2>
    <a href="/archives/<%= article.id %>"><%= article.title %></a>
  </h2>
  </header>
  <aside>
  <ul>
    <li>
    <h4><%= parse_date article.created_at %></h4>
    </li>
    <li>
    <% article.tags.sort!{|x, y| y.quantity <=> x.quantity }.each_with_index do |tag, index| %>
      <% if index == article.tags.length - 1 then %>
        <a href="/tag/<%= tag.name%>" title="View all posts about <%=tag.name %>"><%= tag.name%></a>
      <% else %>
        <a href="/tag/<%= tag.name%>" title="View all posts about <%=tag.name %>"><%= tag.name + ", "%></a>
      <% end %>
    <% end %>
    </li>
    <li>
    <% if !Setting.use_disqus then%>
      <a href="/archives/<%= article.id%>">
        <% if article.comments.size == 0 then %>
          No Comment
        <% elsif article.comments.size == 1 then %>
          1 Comment
        <% else %>
          <%= article.comments.size%> Comments
        <% end %>
      </a>
    <%end%>
    </li>
  </ul>
  </aside>
  <div id="markdown-body">
    <%=  markdown(File.read("#{@archive_path + article.id.to_s}.md")) %>
  </div>
  </article>
<% end %>
