<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-Hans" lang="zh-Hans">
  <head>
    <meta charset="UTF-8" />
    <title><%= Blog.title %></title>
    <meta name="robots" content="all" />
    <meta http-equiv="X-UA-Compatible" content="IE=100" />
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/css/reset.css"/>
    <link rel="stylesheet" href="/css/highlight/<%= Setting.code_style %>.css">
    <script src="/javascripts/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <!--link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic' rel='stylesheet' type='text/css'-->
    <!--link href='http://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet' type='text/css'-->
    <script src="/javascripts/jquery/1.5.2/jquery.min.js"></script>
  </head>
  <body>
  	<% if admin? then%>
  		<%= erb :adminbar %>
  		<div id="outline" style="margin-top: 23px;"></div>
  	<% else %>
  		<div id="outline"></div>
  	<% end %>
  	<div id="wrap">
  		<header role="banner">
  			<a href="/" id="logo">
  				<h1>
  				<%= Blog.site_name%>
  				<em><%= Blog.site_description%></em>
  				</h1>
  			</a>
  			<nav id="nav">
  				<ul>
  					<li>
  						<a <%= current_page? "/" %> href="/">HOME</a>
  					</li>
  					<li>
  						<a <%= current_folder? "/archives/*"%> href="/archives/">BLOG</a>
  					</li>
  					<li>
  						<a <%= current_page? "/project" %> href="/project">PROJ.</a>
  					</li>
  					<li>
  						<a <%= current_page? "/about" %> href="/about">ABOUT</a>
  					</li>
  				</ul>
  			</nav>
  			<script src="/javascripts/script.js"></script>     
  		</header>
  		<div id="content">
  			<%= yield %>
  		</div>
  		<!-- /content -->
  	</div>
  	<!-- /wrap -->
  	<footer id="footer">
  		<div class="footer-inner">
  			<div class="copy">
  				<p>
  					©2012 ElvenHut. <em>Be original.</em>
  				</p>
  			</div>
  			<ul class="social">
          <% if Social.gplus then%>
  				<li class="gplus">
          <a href="<%= Social.gplus%>">Google+</a>
  				</li>
          <% end%>
          <% if Social.github then%>
  				<li class="github">
          <a href="<%= Social.github%>">GitHub</a>
  				</li>
          <% end%>
  				<li class="rss">
  					<a href="/feed">RSS Feed</a>
  				</li>
  			</div>
  		</div>
  	</footer>
  	<!-- /extra -->
  </body>
</html>
