<script src="/javascripts/comment.js"></script>
<comment>
<link rel="stylesheet" type="text/css" href="/css/comment.css"/>

<% if @article.comments.size != 0%>
  <h2>Comments</h2>
  <ol id="comments">
    <% @article.comments.each do |sub_comment| %>
      <% if sub_comment.parent_id == -1 then%>
        <% commentList = Array.new%>
        <% getCommentList [sub_comment], commentList%>
        <% commentList.sort_by{|obj| obj.updated_at}.each_with_index do |comment, index|%>
          <% if index > 0 then%>
            <ul class="children">
            <% end %>
            <li data-comment="<%= comment.id%>">
            <div class="detail">
              <div class="detailContent">
                <a name="comment<%= comment.id%>"></a>
                <div class="meta">
                <span class="author"><%= comment.author%></span>
                <% if index != 0 then%>
                <span class="say">said to</span>
                <a href="#comment<%= comment.parent_id%>"><span class="author"><%=comment.parent.author%></span></a>
              <%end%>
                  <a class="reply" href="#" title="Reply" onclick="showHide('commentForm_<%= comment.id %>'); return false;">Reply</a>
                  <a href="#comment<%= comment.id%>" class="time"><%= comment.updated_at.strftime("%B %d, %Y @ %I:%M %p")%></a>
                </div>
                <p><%= comment.comment%></p>
              </div>

              <div id="commentForm_<%= comment.id%>" class="more">
                <form action="<%= url + "/comment/r#{comment.id}"%>" method="post" name="comment"> 
                  <fieldset id="user-details">	

                    <label for="name">Name:</label>
                    <input type="text" name="name" value="" placeholder="Required" /> 

                    <label for="email">Email:</label> 
                    <input type="email" name="email" value="" placeholder="Optional" /> 

                    <label for="website">Website:</label> 
                    <input type="url" name="website" value="" placeholder="Optional" /> 

                  </fieldset><!--end user-details-->

                  <fieldset id="user-message">

                    <label for="message">Your Message:</label> 
                    <textarea name="message" rows="0" cols="0"></textarea> 

                    <input type="submit" value="Submit Message" name="submit" class="submit" />		
                    <input value="Cancel" class="cancel" type="button" onclick="hideHide('commentForm_<%=comment.id%>');return false;" />		

                  </fieldset><!-- end user-message -->

                </form>	
              </div>
            </div>
            <% if comment.website != "" then%>
              <% if comment.email == "" then%>
            <a href="<%=comment.website%>"><img src="/css/img/user_comment.png" class="avatar" height="64" width="64"></a>
          <%else%>
            <a href="<%=comment.website%>"><img src="<%= getAvatarURL comment.email%>" class="avatar" height="64" width="64"></a>
          <%end %>
        <%else%>
          <% if comment.email != ""%>
          <img src="<%= getAvatarURL comment.email%>" class="avatar" height="64" width="64">
        <%else%>
          <img src="/css/img/user_comment.png" class="avatar" height="64" width="64">
        <%end%>
          <%end%>
            </li>
            <% if index > 0 then%>
            </ul>
          <% end %>
        <%end%>
      <% end%>
    <% end %>
  </ol>
<% end %>

<div id="commentForm">
<form action="<%= url + "/comment/r-1"%>" method="post" name="comment"> 

  <h2>Get In Touch With Us ...</h2>

  <fieldset id="user-details">	

    <label for="name">Name:</label>
    <input type="text" name="name" value="" placeholder="Required" /> 

    <label for="email">Email:</label> 
    <input type="email" name="email" value="" placeholder="Optional" /> 

    <label for="website">Website:</label> 
    <input type="url" name="website" value="" placeholder="Optional" /> 

  </fieldset><!--end user-details-->

  <fieldset id="user-message">

    <label for="message">Your Message:</label> 
    <textarea name="message" rows="0" cols="0"></textarea> 

    <input type="submit" value="Submit Message" name="submit" class="submit" />		

  </fieldset><!-- end user-message -->

</form>	
</div>
</comment>
