<div id="markdown-body">
<h1>Import archives from Wordpress</h1>
<% if step == 1 then %>
	<div id="upload">
<form action="import_xml" method="post" enctype="multipart/form-data">
	<input type="file" class="file" name="file"/>
	<input name="commit" type="submit" value="Upload" class="button"/>
</form>
</div>
<%end %>

<% if step == 2 then %>
<form action="import_archives" method="post">
<table cellspacing='0'> <!-- cellspacing='0' is important, must stay -->
	<!-- Table Header -->
	<thead>
		<tr>
			<th>Select</th>
			<th>Title</th>
			<th>Author</th>
			<th>Tags</th>
			<th>Comments</th>
			<th>Create At</th>
		</tr>
	</thead>
	<!-- Table Header -->

	<!-- Table Body -->
	<tbody>
		<% archives.each_with_index do |post, index|%>
			<tr>
				<td>
					<input type="checkbox" class="checkbox" name="index[]" value="<%= index.to_s%>" checked />
				</td>
				<td><%= post[:title] %></td>
				<td><%= post[:author]%></td>
				<td><%= post[:tags]%></td>
				<td><%= post[:comments].size.to_s%></td>
				<td width="90px"><%= parse_date post[:create_at]%></td>
			</tr>
		<%end%>
		
	</tbody>
	<!-- Table Body -->

</table>
	<input name="commit" type="submit" value="Upload" class="button"/>
</form>
<%end%>
</div>